# development
.idea/*
.vscode/*
venv/*
lndmanage/grpc_compiled/googleapis/*
lndmanage/grpc_compiled/*.proto

# runtime data
*.log
__pycache__/*
config.ini
*.pyc

# test data
test/test_data/*

# build data
build/*
dist/*
lndmanage.egg-info/*
googleapis/*
